#brand:hover {
  color: darkred;
  text-decoration: none;
}

#brand{
  color: violet;
  vertical-align: top;
}

#navbar-image {
  padding: 20px 15px;
  margin: -12px 10px 0px 0px;
  background-size: cover;
	background-image: url('/img/robin_run.png');
  display: inline-block;
}

#login-bar input {
  margin: 0px 10px 0px 0px;
  width: 155px;
}

#header-bar {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}