#brand:hover {
  color: darkred;
  text-decoration: none;
}

#brand {
  color: violet;
  vertical-align: top;
}

#navbar-image {
  padding: 20px 15px;
  margin: -12px 10px 0px 0px;
  background-size: cover;
	background-image: url('/img/robin_run.png');
  display: inline-block;
}

#login-bar input {
  margin: 0px 10px 0px 0px;
  width: 155px;
}

#header-bar {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  #header-bar .navbar-header {
      float: none;
  }
  #header-bar .navbar-left,.navbar-right {
      float: none !important;
  }
  #header-bar .navbar-toggle {
      display: block;
  }
  #header-bar .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  #header-bar .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  #header-bar .navbar-collapse.collapse {
      display: none!important;
  }
  #header-bar .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  #header-bar .navbar-nav>li {
      float: none;
  }
  #header-bar .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  #header-bar .collapse.in{
      display:block !important;
  }
}
