#body {
	background-image: url('/img/ohara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2393BB;
}

#content {
  margin-top: 20px;
  padding: 10px 50px 30px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

#oauth-selection {
  padding-top: 30px;
}

#signup-right {
  border-left: 0.5px solid lightgrey;
}

.captain {
  width: 200px;
  height: 100px;
  position: relative;
}

.captainImage {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: none;
  display: inline-block;
  position: absolute;
  left: 0px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.captainStat {
  position: absolute;
  width: 30px;
  background-color: white;
  border: 1px solid black;
  font-size: 10px;
}

.captainStatLabel {
  width: 14px;
  display: inline-block;
  font-weight: bolder;
}

.captainLevel {
  left: 0px;
  bottom: 15px;
}

.specialLevel {
  left: 0px;
  bottom: 0px;
  height: 16px;
}

.cc {
  position: absolute;
  text-shadow: 1px 1px 2px black,
               1px -1px 2px black,
               -1px 1px 2px black,
               -1px -1px 2px black;
  font: bold 16px sans-serif;
  right: 1px;
}

.hpCC {
  color: orange;
  bottom: 32px;
}
.atkCC {
  color: #FF2929;
  bottom: 16px;
}
.rcvCC {
  color: #8FF0DC;
  bottom: 0px;
}

.captainSockets {
  display: inline-block;  
  height: 100px;
  width: 35px;
  vertical-align: bottom;
  position: absolute;
  left: 102px;
}
.socketImage {
  height: 20px;
  width: 20px;
  background-size: cover;
  display: inline-block;
}
.socketLevel{
  font: bold 16px sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
  margin-top: 2px;
  color: white;
  text-shadow: 1px 1px 1px black,
               1px -1px 1px black,
               -1px 1px 1px black,
               -1px -1px 1px black;
}

.captainManagement {
  display: inline-block;
  height: 100px;
  position: absolute;
  left: 140px;
}
.captainManagement button{
  padding-left: 0px;
}