#body {
	background-image: url('/img/ohara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2393BB;
}

#content {
  margin-top: 20px;
  padding: 10px 50px 30px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

#oauth-selection {
  padding-top: 30px;
}

#signup-right {
  border-left: 0.5px solid lightgrey;
}

.captain {
  width: 125px;
  height: 98px;
  position: relative;
  display: inline-block;
}

.captainImage {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: none;
  display: inline-block;
  position: absolute;
  left: 22.5px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.captainStat {
  position: absolute;
  text-shadow: 1px 1px 2px black,
               1px -1px 2px black,
               -1px 1px 2px black,
               -1px -1px 2px black;
  font: bold 12px sans-serif;
  color: white;
}

.captainLevel {
  left: 1px;
  bottom: 0px;
  height: 15px;
}

.specialLevel {
  left: 0px;
  bottom: 15px;
}

.cc {
  position: absolute;
  text-shadow: 1px 1px 2px black,
               1px -1px 2px black,
               -1px 1px 2px black,
               -1px -1px 2px black;
  font: bold 16px sans-serif;
  right: 1px;
}

.hpCC {
  color: orange;
  bottom: 32px;
}
.atkCC {
  color: #FF2929;
  bottom: 16px;
}
.rcvCC {
  color: #8FF0DC;
  bottom: 0px;
}

.captainSocketsContainer {
  position: absolute;
  top: 75px;
  height: 18px;
  width: 125px;
  text-align: center;
}
.captainSockets {
  display: inline-block;
  vertical-align: bottom;
  margin: auto;
}
.socket {
  position: relative;
  display: inline-block;
  width: 25px;
}
.socketImage {
  height: 18px;
  width: 18px;
  background-size: cover;
  display: inline-block;
}
.socketLevel{
  font: bold 12px sans-serif;
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
  color: white;
  text-shadow: 1px 1px 1px black,
               1px -1px 1px black,
               -1px 1px 1px black,
               -1px -1px 1px black;
}

.captainManagement {
  display: inline-block;
  height: 100px;
  position: absolute;
  left: 140px;
}
.captainManagement button{
  padding-left: 0px;
}