#body {
	background-image: url('/img/ohara.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2393BB;
}

#content {
  margin-top: 20px;
  padding: 10px 50px 30px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
}

#oauth-selection {
  padding-top: 30px;
}

#signup-right {
  border-left: 0.5px solid lightgrey;
}

.captain {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: none;
  display: inline-block;
  position: relative;
}

.captainStat {
  position: absolute;
  width: 30px;
  background-color: white;
  border: 1px solid black;
  font-size: 10px;
}

.captainStatLabel {
  width: 14px;
  display: inline-block;
  font-weight: bolder;
}

.captainLevel {
  left: 0px;
  bottom: 15px;
}

.specialLevel {
  left: 0px;
  bottom: 0px;
  height: 16px;
}